/* 1. Estilos Base (APLICAN A MÓVILES y small devices) */

h1 {
    text-transform: uppercase;
    color: rgb(48, 46, 46);
    /* Tamaño apropiado para móvil */
    font-size: 80px; 
    font-family: 'Six Caps', sans-serif;
    text-align: center;
}

.contenedor-frase {
    /* Altura más razonable para móvil */
    min-height: 250px; 
    width: 90vw;
}

p {
    /* Tamaño legible para móvil */
    font-size: 30px; 
}

button {
    width: 200px;
    font-size: 40px;
}

/* 2. Media Query (AGREGA ESTILOS SÓLO PARA ESCRITORIO) */
@media screen and (min-width: 1200px) {

    h1 {
        /* Se incrementa el tamaño para escritorio */
        font-size: 250px; 
    }

    .contenedor-frase {
        width: 60%;
        min-height: 350px;
    }

    p {
        /* Se incrementa el tamaño del texto de la frase */
        font-size: 65px; 
    }

    button {
        width: 250px;
        font-size: 45px;
    }
    
    /* El resto de tus estilos de imagen para desktop van aquí */
}
